@font-face {
    font-family: Vazir;
    src: url(../fonts/Vazir-Regular.woff);
}
@font-face {
    font-family: Vazir-Bold;
    src: url(../fonts/Vazir-Bold.woff);
    font-weight: bold;
}
@font-face {
    font-family: Vazir-Black;
    src: url(../fonts/Vazir-Black.woff);
    font-weight: bolder;
}
.vazir{
    font-family: Vazir;
}
.extrabold{
    font-family: Vazir-Black;
    font-weight: 800;
}

body.main{
    background-image: url("../img/body.jpeg");
}
header{
    width: 100%;
    padding: 50px;
    background: rgba( 255, 255, 255, 0 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 15.5px );
    -webkit-backdrop-filter: blur( 15.5px );
    border-radius: 10px;
    z-index: 10;
}
header .row{
    position: relative;
    z-index: 100;
}
@keyframes top-down {
    0%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(10px);
    }
}
.go-librari{
    animation: top-down 0.7s ease-in infinite alternate;
}
.reports .container{
    background: rgba( 255, 255, 255, 0 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 15.5px );
    -webkit-backdrop-filter: blur( 15.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    color: white;
}
.card{
    background: rgba( 255, 255, 255, 0 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 15.5px );
    -webkit-backdrop-filter: blur( 15.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    color: white;
}
.card-image img{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}